  * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  *::-moz-selection {
  background: #111111aa;
  color: #377BFF;
  }

  *::selection {
  background: #111111aa;
  color: #377BFF;
  }

  body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  }

  nav img {
  /* Vector */
  position: absolute;
  right: 3vw;
  top: 30px;
  width: 2rem;
  z-index: 20;
  }

  #navBarBtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1111;
  }

  nav {
  position: absolute;
  }

  #nav-container {
  position: absolute;
  background-color: #111;
  transform-origin: top right;
  transition: all 2s .3s ease;
  clip-path: circle(0 at 90vw 20px);
  }

  #nav-container.visible {
  position: absolute;
  background-color: #111;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  clip-path: circle(100vw at 90vw 20px);

  }

  .left-container, .right-container {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center center;
  }

  

  li {
  list-style-type: none;
  }

  .left-container ul li a:hover {
  color: #377BFF;
  }


  #nav-container li a {
  color: white;
  text-decoration: none;
  font-family: 'Glitther Syavina Freebies';
  font-size: 5rem;
  }

  .right-container .logo img {
  width: 25vw;
  }

  .right-container  {
  text-align: right;
  color: #B2B2B2;
  font-size: 2.5rem;
  font-family: 'Glitther Syavina Freebies';
  }

  .social a i {
  font-size: 3rem;
  color: #B3B3B3;
  }

  .social a i:hover {
  color: #377BFF;
  }

  .home {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0.5))), url("../assets/img1.jpg");
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.5) 100%), url("../assets/img1.jpg");
  background-blend-mode: multiply, normal;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  }

  .head1 {
  /* THE BLUE ALGAE */
  position: absolute;
  left: 23.67%;
  right: 23.67%;
  top: 10vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #B2B2B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  }

  .head2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

  #color {
  color: #377BFF;
  }

  .h2, .h3 {
  /* The Blue Algae Musician Band */
  position: relative;
  left: -0.24%;
  right: 0%;
  top: 46.76%;
  bottom: 41.96%;
  font-family: Glitther Syavina Freebies;
  font-style: normal;
  font-weight: normal;
  line-height: 105.4%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D7D7D7;
  }

  .h2 .br, .h3 .br {
  display: none;
  }

  .h2 {
  font-size: 6rem;
  }

  .h3 {
  font-size: 2rem;
  margin: 50px 0 0 0;
  }

  .icons {

  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  bottom: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;


  }

  .icons a {
  font-size: 2rem;
  color: #D7D7D7;
  margin: 10px;
  }

  .icons a:hover {
  color: #377BFF;
  }

  #about {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0.6))), url("../assets/img2.png");
  background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/img2.png");
  background-blend-mode: multiply, normal;
  background-position: center center;
  }

  #about .content {
    position: relative;
    top: 30vh;
    display: grid;
    grid-template-columns: repeat( 10, 1fr ) !important;
    grid-template-rows: repeat( 10, 1fr ) !important;
    grid-gap: 20px 20px;
    grid-template-areas: 
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    "text text text text text video video video video video"
    ;
  }

  #about .head1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 151.4%;
  top: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #B3B3B3;


  }

  #about .head2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 151.4%;
  top: 20vh;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D7D7D7;

  }

  #about p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: justify;
  color: #F3F3F3;
  padding: 5%;
  grid-area: text;
  }

  #about #my-player {
  width: 40vw;
  height: 49vh;
  border: solid 2px white;
  -webkit-box-shadow: 10px 10px white;
  box-shadow: 10px 10px white;
  grid-area: video;
  }



 .list-members {
  background: linear-gradient(180deg, #000000 0%, #00113D 100%);
  width: 100%;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
}

.members {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #00113D 100%);
  font-family: Montserrat;
  position: relative;
}

.member {
  flex-basis: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-image {
  width: 50%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.member-image img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.member-image:hover img {
  transform: scale(1.1);
}

.member-info {
  width: 50%;
  text-align: center;
}

.member-info p {
  margin: 20px 0;
}


.social-link .fab {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #000;
  margin: 0 7px;
  cursor: pointer;
  transition: transform .5s;
}

.social-link .fab:hover {
  background: #000;
  color: #377BFF;
  transform: translateY(-7px);
}

/* Membuat segitiga */
.member-image::after {
  content: '';
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 15px solid #377BFF;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}



  


.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #000000 0%, #00113D 100%);

}

.card {
  display: flex;
  margin: 6%;
  padding: 3%;
  min-width: 20vw;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border-radius: 10px;
  position: relative;
  justify-content: space-evenly;
}

.card {
  flex: 0 0 auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

h2 {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%);
  text-align: center;
}


img {
  border: 10px;
  height: 100%;
  width: 60%;
}


footer {
  height: 100%;
  width: 100%;
  /* margin: 1% 1% 1% 1%; */
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  background: linear-gradient(180deg, #000000 0%, #00113D 100%);
  color: #B2B2B2;
}

footer #heart {
  font-size: 2rem;
  margin: 0 0.15rem;
  color: #ff2424;
  animation: blinking-heart 2s infinite;
}

@keyframes blinking-heart {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}